.post {
	border: 1px solid black;
	border-radius: 0.3125rem;
	margin: 0 1rem 2.25rem;
}

.blog-img img {
	width: 100%;
}

.blog-img,
.blog-card-body p {
	margin-bottom: 3.6rem;
}

.blog-card-body {
	margin: 0 2.4rem;
	text-align: center;
}


.announcements {
	.post {
		border: 1px solid black;
		border-radius: 0.3125rem;
		margin: 0 1rem 2.25rem;
	}
	
	.blog-img {
		height: 10rem;
		margin-bottom: 2.25rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.blog-card-body {
		margin: 0 2.4rem;
		text-align: center;

		p {
			margin-bottom: 2.25rem;
		}
	}
}



// ANNOUNCEMENTS SINGLE

