// OUR MISSION

.home-mission {
    background-color: lightgrey;
    margin-bottom: 8rem;
}

.home-mission-content {
    padding: 4.8rem 1.6rem 3.6rem;
}

.home-mission-content h3,
.home-mission-content p {
    color: #fff;
    text-align: center;
}



// CARDS

.home-cards {
    margin-bottom: 8rem;
}

.home-card-container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 1.6rem 3.6rem;
    text-align: center;
}

.home-card-container img {
    margin: 3.6rem;
    border-radius: 50%;
}

.home-card-container p {
    margin: 0 2.4rem 3.6rem;
}

.btn {
    background-color: #f9ac55;
    margin-bottom: 3.6rem;
    text-align: center;
}