// HERO BANNER

.home-banner {
    .hero-image {
        position: relative;
        height: 490px;
        margin-bottom: 5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    .hero-text {
        background-color: rgba(255, 255, 255, 0.7);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        width: 90%;

        p {
            margin-bottom: 1.5rem;
        }
    }
}



// WHAT'S NEW

.home-announcements {
    margin-bottom: 5rem;
    text-align: center;

    .btn {
        max-width: 66.6%;
    }
}

.home-announcements .widget {
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.wp-block-latest-posts.is-grid li {
    margin:0 0em 1.25em 0;
}



// OUR MISSION

.home-mission {
    margin-bottom: 5rem;

    .hero-image {
        position: relative;
        height: 40rem;
        background-color: black;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 0.4;
        }
    }
    
    .hero-text {
        color: #fff;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;

        h3 {
            color: #fff;
        }
    }
}



// CARDS

.home-cards {
    padding: 0 1rem;
    margin-bottom: 5rem;

    .home-card-container {
        background-color: #fff;
        filter: drop-shadow(1px 2px 0.25rem rgb(124, 124, 124));
        border-radius: 0.3125rem;
        margin-bottom: 2.25rem;
        text-align: center;
        max-width: 25rem;
        padding: 3rem 0rem;
    }
    
    .img-circle {
        width: 13.5rem;
        height: 13.5rem;
        margin: 0rem auto;
        margin-bottom: 2.25rem;
    }
    
    .img-circle img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    p,
    .list {
        margin: 0 1.5rem 2.25rem;
    }
}




// STATISTICS

.home-stats {
    background-color: #4365EE;
    padding: 5rem 0rem;
    color: #fff;

    .stat {
        margin: 0 auto;
    }

    .stat-adopt {
        background-color: #f07b57;
    }

    .stat-donate {
        background-color: #f9ac55;
    }
}