//BASE

* {
    font-size: 100%;
}

body {
    font: 400 1.125rem/1.65 'Lato', sans-serif;
    color: #454545;
    letter-spacing: .5px;
    font-kerning: normal;
}

h2,
h3, 
h4 {
    color: #2d5180;
    text-transform: uppercase;
}

a,
a:visited {
    font-family: 'Poppins', sans-serif;
    color: #2d5180;
    
}

h2 {
    font: 700 3rem/1 'Poppins', sans-serif;
}

h3 {
    font: 800 2rem/1.3 'Poppins', sans-serif;
}

h4 {
    font: 500 1.5rem/1 'Poppins', sans-serif;
    letter-spacing: 0;
}

.read-more-link {
    font-weight: 600;
    letter-spacing: 1px;
}

input,
textarea {
    &::placeholder {
        font: 300 1rem/1 'Poppins', sans-serif; 
        font-style: italic;
        color: #b3b3b3;
    }
}


// HEADER 

.site-title {
    font: 300 1.125rem/1.4 'Poppins', sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;

    span {
        font-weight: 700;
    }
}

.menu-main-menu-container {
    li {
        &:hover {
            a {
                color: #bbe3f8;
            }
        }
    }

    li:first-of-type {
        &:hover {
            a {
                color: #4365ee;
            }
        }
    }

    a {
        color: #fff;
    }
}

.menu-sub-menu-container a {
    font: 600 1.125rem 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    &:hover {
        color: #4365ee;
    }
}


// BANNER

.banner {
    h2{
        writing-mode: vertical-lr;
    }
}


// ABOUT

.intro-bg,
.intro-bg h3 {
    color: #fff;
}

.stat {
    text-align: center;
}

.stat-circle {

    p {
        font: 700 1.125rem 'Poppins', sans-serif;
        color: #fff;
        text-transform: uppercase;
    }
} 
    
.stat-info {
    font: 500 1.125rem 'Poppins', sans-serif;
    letter-spacing: 0;
}

.stat-number {
    font: 200 2.25rem 'Poppins', sans-serif;
}

.ms-title {
    color: #bbe3f8;
}

.dk-blue {
    color: #2d5180;
    border-bottom: 1px solid #2d5180;
}


// DONATE

.give-form-wrap {
    h2 {
        font: 300 2rem/1.3 'Poppins', sans-serif;
        text-transform: capitalize;
        color: #4365ee;
        letter-spacing: 0;
    }

    .give-goal-progress {

        .raised {
            font: 700 1.125rem 'Poppin', sans-serif;
            text-align: right;
        }

        .income {
            font: inherit;
            letter-spacing: 0.5px;
            color: #f07b57;
        }
    }

}

form.give-form {
    font-family: 'Poppins', sans-serif;

    .give-donation-amount {
        .give-currency-symbol {
            color: #fff;
        }

        #give-amount {
            font-size: 1.75rem;
            color: #4365ee;
        }
    }

    .give-btn-reveal {
        font-weight: 600;
        letter-spacing: 1px;
        color: #2d5180;
        
        i {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1;
        }
    }

    legend {
        color: #2d5180;
        font: 800 2rem/1.3 'Poppins', sans-serif;
        text-transform: uppercase;
    }

    label.give-label {
        font-weight: 500;
        letter-spacing: 0;
    }

    #give-final-total-wrap {
        margin: 2.125rem 0;

        .give-donation-total-label {
            color: #fff;
        }

        .give-final-total-amount {
            font-size: 1.75rem;
            color: #f9ac55;
        }
    }



    input[type=submit] {
        font: 600 1rem "Poppins", sans-serif;
        letter-spacing: 0.5px;
        color: #fff;
        text-transform: uppercase;
    }
}

#give-donation-level-button-wrap {
    & > li {
        button {
            font-size: 1.5rem;
            font-weight: 400;
            color: #f9ac55;

            &:hover {
                color: #fff;
            }
        }
    }
}

.donate-options {
    color: #fff;

    h4 {
        color: #fff;
    }
}

.donate-card {
    a {
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0;
    }


    &:first-child {
        a {
            color: #f07b57;  

            &:hover {
                color: #fff;
            }
        }
    }

    &:nth-child(2) {
        a {
            color: #f9ac55;

            &:hover {
                color: #fff;
            }
        }
    }

    &:nth-child(3) {
        a {
            color: #4365ee;

            &:hover {
                color: #fff;
            }
        }
    }

    &:last-child {
        a {
            color: #2d5180;

            &:hover {
                color: #fff;
            }
        }
    }
}

.quote {
    font: 200 1.875rem/1.7 'Poppins', sans-serif;
    font-style: italic;
    color: #2d5180;
}

.quote-mark {
    font: 300 15rem/1 'Poppins', sans-serif;
    color: #bbe3f8;
    letter-spacing: 0;
}

.step-number {
    font: 500 2.125rem/1 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #2d5180;
}


// DONATE OPTION SINGLE

.note {
    font: 500 1rem 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #4365ee;

    i {
        text-align: right;
    }
}



// FOOTER

footer {
    .site-title {
        color: #454545;
        font-size: .875rem;
    }

    a {
        color: #454545;
    }
}

.contact {
    i {
        font-size: 1rem;
        color: #f9ac55;
    }
}

.social {
    i {
        font-size: 1.5rem;
        color: #454545;
    }
}

.hours {
    span {
        font: 600 1.125rem 'Poppins', sans-serif; 
        text-transform: uppercase;
        color: #f9ac55;
    }

    a {
        &:hover {
            color: #f9ac55;
        }
    }
}

.contact-form {
    label {
        font: 500 1.125rem 'Poppins', sans-serif; 
        letter-spacing: 0;
        color: #454545;
        text-transform: capitalize;
    }

    input[type=submit] {
        font: 600 1rem 'Poppins', sans-serif;
        letter-spacing: 0.5px;
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: #4365ee;
        }
    }
}

.wpcf7-spinner {
    display: none;
}

.form-title {
    font: 600 1.125rem 'Poppins', sans-serif; 
    text-transform: uppercase;
    color: #4365ee;
}

.site-info {
    p,
    a {
        font: 400 .875rem/1.5 'Lato', sans-serif; 
        letter-spacing: 0;
        color: #454545;
    }
}

.policy {
    display: flex;
    span {
        margin: 0 .5rem;
    }
}



// WIDTH 520px

@media screen and (min-width: 520px) {
    
    h2 {
        font-size: 4rem;
    }

    .section-three {
        .ms-title {
            color: #2d5180;
        }
    }

}



// WIDTH 768px

@media screen and (min-width: 768px) {

    .banner {
        h2 {
            writing-mode: horizontal-tb;
        }
    }

    .give-form-wrap {
        h2 {
            font-size: 3rem;
        }
    }
    
    .about-content-bg {
        color: #fff;
    }

    .site-info {
        p,
        a {
            font-size: 1.125rem;
        }
    }
}




// WIDTH 1024PX

@media screen and (min-width: 1024px) {
    h3,
    form.give-form legend {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.75rem;
    }

    .menu-main-menu-container {
        li:first-of-type {
            a {
                color: #fff;
            }

            &:hover {
                a {
                    color: #4365ee;
                }
            }
        }
    
        a {
            color: #2d5180;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
        }
    }

    footer {
        .site-title {
            font-size: 1.125rem;
        }
    }

    .form-title,
    .hours span {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1400px) {
    body {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 3.75rem;
    }

    h3,
    form.give-form legend {
        font-size: 3rem;
    }

    .banner {
        p {
            font-size: 1.5rem;
        }
    }

    .contact {
        i {
            font-size: 1.25rem;
        }
    }

    .social {
        i {
            font-size: 2rem;
        }
    }

    .menu-main-menu-container {
        a {
            font-size: 1.125rem;
        }
    }
}

@media screen and (min-width: 1720px) {
    .site-title {
        font-size: 1.25rem;
    }
    
    .menu-main-menu-container {
        a {
            font-size: 1.25rem;
        }
    }
}